structure

/projects
prijects/
/projects/


/tools
/tools/
tools/

/vnev
/venv/
venv/

/Trash
/Trash/
Trash/

/learn
/learn/
learn/

/.ipynb_checkpoints
/.ipynb_checkpoints/
.ipynb_checkpoints/

/data
/data/
data/



*.csv
*.zip
*.pth
